body {
color:#00F ;
background-color: #CFC;
font-family: Georgia, Cambria, serif;
font-size: 16px;
}

h1{
    color: #f00;
    font-family: Verdana, Calibri, sans-serif;
    font-size: 32px;
}

h2{
color: #a00;
font-family: Verdana, Calibri, sans-serif;
font-size: 24px;
}

em{
    background-color: #000;
    color:#FFF ;
}
b{
    font-size: 20px;
    font-weight: bold;
}