td{
    background: red;
}
td+td{
    background: green;
}
td+td+td{
    background: blue;
}
#fila0 {color: teal;}
#fila1 {color: red;}
#fila2 {color: blue;}
#fila3 {color: orange;}
#fila4 {color: purple;}
#fila5 {color: olive;}
#fila6 {color: fuchsia;}
#fila7 {color: green;}